{% extends 'base.html.twig' %}

{% block title %}{{ challenge.name }}{% endblock %}

{% block body %}
<style>
.challenge {
    text-align: center;
    display: flex;
}

.submit-info {
    font-style: italic;
    text-align: center;
}

.challenge img {
    max-width: 90%
}

.challenge iframe {
    max-width: 90%;
}

.challenge-leaderboard-wrapper {
    flex-direction: row;
}

.challenge-date {
    font-style: italic;
}

.challenge .container {
    max-width: 1600px !important;
}

.score-row {
    border-top: solid;
    align-items: center;
}

.modal-body pre {
    white-space: pre-line;
}

.modal {
    color: black;
}
</style>

<div class="challenge">

    {% if challenge.leaderboard == 1 %}
    <div class="col-wrapper">
        <div class="row">
    {% endif %}

            <div class="{{ challenge.leaderboard == 1 ? 'col-12 col-lg-6' : '' }}">
                {% if challenge.active == 1 %}
                    {% if app.user %}
                        <a href="/submit/{{ challenge.id }}" class="btn orange submit-link mb-3">Upload Submission</a>
                        <div class="challenge-date mb-5">Deadline: {{ challenge.runs[0].finish|date('Y-m-d H:i:s') }} UTC</div>
                    {% else %}
                        <p class="submit-info">You must be logged in to submit an entry.</p>
                    {% endif %}
                {% else %}
                    <p class="submit-info">This challenge is not active right now but you can still practice.</p>
                {% endif %}

                <p class="chal-description"> {{ challenge.description|raw }}
            </div>

    {% if challenge.leaderboard == 1 %}
            <div class="col-12 col-lg-6">
                <h2 class="mt-5">Leaderboard</h2>
                <div class="container">
                    {% if app.user %}
                        <div class="row">
                            <div class="col-1">#</div>
                            <div class="col-6">Username</div>
                            <div class="col-5">{{ challenge.scoreLabel }}</div>
                        </div>

                        {% for score in leaderboard %}
                            <div class="row">
                                <div class="col-1">{{ loop.index }}</div>
                                <div class="col-6">{{ score.username }}</div>
                                <div class="col-5">{{ score.score }}</div>
                            </div>
                        {% endfor %}
                    {% else %}
                        <p class="submit-info">You must be logged in to view the leaderboard.</p>
                    {% endif %}
                </div>

                <h2 class="mt-5">Your Scores</h2>
                <div class="container">
                    {% if app.user %}
                        <div class="row">
                            <div class="col-1">#</div>
                            <div class="col-3">Submitted</div>
                            <div class="col-4">{{ challenge.scoreLabel }}</div>
                            <div class="col-4">Status</div>
                        </div>

                        {% if submissions is empty %}
                            <div class="row">
                                <p class="submit-info mx-auto mt-4">No submissions yet! Go ahead and get started!</p>
                            </div>
                        {% else %}
                            {% for submission in submissions %}
                                <div class="row score-row mt-2">
                                    <div class="col-1">{{ loop.index }}</div>
                                    <div class="col-3">{{ submission.submitted|date('Y-m-d H:i:s') }} UTC</div>
                                    <div class="col-4">{{ submission.score }}</div>
                                    <div class="col-4">
                                        {% if (submission.status != 'complete') %}
                                            <div class="modal fade" id="failedModal{{ loop.index }}" tabindex="-1" role="dialog">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">Submission {{ submission.status }}</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span>&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            {% set btnStyle = 'btn-secondary' %}
                                                            {% if submission.status == 'rejected' %}
                                                                {% set btnStyle = 'btn-danger' %}
                                                            {% elseif submission.status == 'failed' %}
                                                                {% set btnStyle = 'btn-danger' %}
                                                            {% elseif submission.status == 'timeout' %}
                                                                {% set btnStyle = 'btn-danger' %}
                                                            {% elseif submission.status == 'uploaded' %}
                                                            {% elseif submission.status == 'pending' %}
                                                                {% set btnStyle = 'btn-info' %}
                                                            {% else %}
                                                                {% set btnStyle = 'btn-warning' %}
                                                            {% endif %}

                                                            {% if submission.result is empty %}
                                                                {% if submission.status == 'rejected' %}
                                                                    <p>The submission was rejected due to using functionality that is disallowed but the reason hasn't been saved.</p>
                                                                    <p>If you have questions, ask in the Discord.</p>
                                                                {% elseif submission.status == 'failed' %}
                                                                    <p>Your submission failed to complete the challenge or had an incorrect result.</p>
                                                                {% elseif submission.status == 'timeout' %}
                                                                    <p>The scorer aborted your submission because it took too long to run.</p>
                                                                    <p>Ensure it doesn't display any dialogs or expect any user interaction.</p>
                                                                {% elseif submission.status == 'uploaded' %}
                                                                    <p>The submission is waiting to be scored.</p>
                                                                {% elseif submission.status == 'pending' %}
                                                                    <p>The submission is in progress of being scored!</p>
                                                                    <p>Try refreshing in a couple of minutes to see the result.</p>
                                                                {% else %}
                                                                    <p>It looks like a new status was added to scoring but wasn't added to this dialog!</p>
                                                                    <p>Please let us know in the Discord server.</p>
                                                                {% endif %}
                                                            {% else %}
                                                                <pre>{{ submission.result|raw }}</pre>
                                                            {% endif %}
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="button" class="btn {{ btnStyle }}" data-toggle="modal" data-target="#failedModal{{ loop.index }}">
                                                {{ submission.status }}
                                            </button>
                                        {% else %}
                                            {{ submission.status }}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    {% else %}
                        <p class="submit-info mx-auto mt-4">You must be logged in to see your submitted scores.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}

</div>
{% endblock %}
