<!DOCTYPE html>
<html data-bs-theme="dark">
    <head>
        <title>SoL - {% block title %}Summer of LabVIEW{% endblock %}</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="/images/sol-logo.ico">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sol.css">

        {#{{ encore_entry_link_tags('global') }}#}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block navbar %}
            {% include 'nav/topbar.html.twig' %}
        {% endblock %}

        {% block header %}
            <div class="banner">
                <div class="banner-text grad-text-light pl-5">
                    {% block banner %}
                        {{ block('title') }}
                    {% endblock %}
                </div>
            </div>
        {% endblock %}

        <div class="content">
            {% block flashes %}
                {% for label, messages in app.flashes() %}
                    {% for message in messages %}
                        <div class="alert flash-{{ label }} text-center">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endblock %}
            
            <div class="content-inner container">
                {% block body %}{% endblock %}
            </div>
        </div>

        {% block footer %}
            {% include 'nav/footer.html.twig' %}
        {% endblock %}

        {#<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="/js/popper.min.js"></script>
        <script type="text/javascript" src="/js/bootstrap.min.js"></script>#}
        
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/popper.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        {#{{ encore_entry_script_tags('app') }}#}

        {% block scripts %}{% endblock %}
    </body>
</html>

