A password reset has been requested at {{ site }}.<br/>
<br/>
Follow this link to finish resetting your password:<br/>
<a href="{{ site }}{{ path('reset_pass') }}?key={{ tempKey }}">{{ site }}{{ path('reset_pass') }}?tempKey={{ tempKey }}</a></br>
<br/>
Happy coding and thanks for participating in Summer of LabVIEW!