Thank you for your registration, {{ newuser.fullName }}!<br/>
<br/>
Here is the information you provided:<br/>
Username: {{ newuser.username }}<br/>
<br/>
To login, please visit <a href="{{ site }}{{ path('app_login') }}">{{ site }}{{ path('app_login') }}</a> and login with your username and your password:<br/>
<br/>
{{ newpass }}<br/>
<br/>
Happy coding and welcome to Summer of LabVIEW!